.taskForm {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 1rem;
}

.taskForm textarea {
    width: 80%;
    height: 3rem;

    padding: 0.8rem;
    margin-top: -1.5rem;

    color: var(--gray-100);

    background-color: var(--gray-500);
    border: 0;
    border-radius: 10px;

    resize: none;

}

.taskForm button {
    height: 3rem;

    padding: 1rem 1.5rem;
    margin-top: -1.5rem;

    border-radius: 8px;
    border: 0;

    background: var(--blue-dark);
    color: var(--gray-100);
    font-weight: bold;

    cursor: pointer;
}
